.suggestions {
  background-color: #f1efef;
  padding-top: 50px;
}

.suggestion-cards-display {
  display: flex;
  flex-direction: column;
}

.suggestion-card {
  padding: 20px 40px;
  margin: 30px;
  background-color: #d8d6d6;
  border-radius: 10px;
}

.suggestion-card p {
  text-align: center;
}

.suggestion-title {
  margin-top: 80px;
}

.dots {
  display: flex;
  justify-content: center;
}

.tilde {
  width: 40%;
  padding: 40px;
}

.menu-title {
  margin-bottom: 40px;
}

.meal-title {
  font-weight: bold;
  margin-bottom: 0;
}

.meal-description {
  margin-top: 0;
}

.more-info {
  text-align: center;
  width: fit-content;
  margin: auto;
  padding: 0 0 50px 0;
  font-size: 0.7rem;

}


@media only screen and (min-width: 768px) {
  .suggestion-cards-display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 60px 60px 20px 60px; 

  }
  .suggestion-card {
    width: 30%;
  }

  .more-info {
    font-size: 0.8rem;
  }
}
